
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    background-color: rgb(56, 87, 54);
    padding: 10px;
}

.banner a, .banner h2, .banner p {
    color: WHITE;
    text-decoration: none;
}

 /* remove bullet from li in header  */